ion-content{
    // --background:#222;
}


ion-title{
    text-align: center;
    color: white;
}
ion-toolbar{
   --background: linear-gradient(#00B9F2,#019CE0,#0C7ECF);
}

ion-button{
    --background: linear-gradient(#00B9F2,#019CE0,#0C7ECF);
}

.submit{
    text-align: center;
}
